@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-light: #f4f4f9;
	--color-bg-dark: #1c1c1e;
	--header-color: #002653;
	--highliht-color: #006fdd;
	--color-theme-1: #ffb530;
	--color-text-1: #333;
	--color-text-2: #e4e4e7;
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-light);
	background-size: 100vw 100vh;
	color: var(--color-text-1);
	transition: background-color 0.3s, color 0.3s;
}

h1, h2, p, h3 {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-text-1);
	text-decoration: underline;
	transition: color 0.2s linear;
}

a:hover {
	color: var(--highliht-color);
}

h1 {
	text-align: center;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-bg-dark);
		color: var(--color-text-2);
	}

	a, p, h1, h2, h3, h4 {
		color: var(--color-text-2);
	}
}